<div as="main-panel">
	<h2>Register</h2>
	<div ref="content">

	</div>
	<blockquote>no any warranties</blockquote>
	<script>

	</script>
</div>

<div as="first-step">
	<div>
		<label>Enter your name: <input ></label>
	</div>
	<div></div>
</div>